.page3 {
  height: 100%;
  background-image: url(/images/3.jpg);
  background-size: 100% 100%;
  position: relative;
}
.page3-form {
  position: absolute;
  top: 36%;
  left: 20%;
  right: 16%;
}
.page3-form-item {
  padding: 10px 0;
  border-bottom: 1px dashed #bbb;
}
.page3-form-item:before,
.page3-form-item:after {
  content: "";
  display: table;
}
.page3-form-item:after {
  clear: both;
}
.page3-form-label {
  float: left;
  width: 40%;
  text-align: right;
  padding-right: 10px;
  color: #bbb;
}
.page3-form-control {
  float: left;
  width: 60%;
}
.page3-form-control > input {
  width: 100%;
  border: none;
  outline: 0;
}
.page3-btn {
  position: fixed;
  z-index: 99;
  top: 71.51106833%;
  left: 31.71875%;
  width: 37.03125%;
}
