.page3 {
  height: 100%;
  background-image: url(/images/beijing.jpg);
  background-size: 100% 100%;
}
.page3-form {
  position: relative;
  top: 150px;
  width: 85%;
  margin: 0 auto;
}
.page3-form > img {
  width: 100%;
}
.page3-form > form {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
}
.page3-form-item {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  font-size: 18px;
}
.page3-form-item:before {
  content: "";
  display: table;
}
.page3-form-item:after {
  content: "";
  display: table;
  clear: both;
}
.page3-form-label {
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 15px;
  color: #aaa;
}
.page3-form-control {
  float: left;
  width: 50%;
}
.page3-form-control > input {
  width: 100%;
  border: none;
  outline: 0;
}
