.page5 {
  height: 100%;
  background-image: url(/images/5.jpg);
  background-size: 100% 100%;
  position: relative;
}
.page5-content {
  position: absolute;
  top: 35.89990375%;
  bottom: 33%;
  left: 0;
  right: 0;
  width: 65%;
  margin: 0 auto;
  overflow-y: scroll;
}
.page5-btn {
  position: absolute;
  width: 37.03125%;
  top: 69.68238691%;
  left: 27.5%;
  z-index: 99;
}
