.app-loading {
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 45%;

}

.app-loading-percent {
  background-color: orange;
  font-size: 32px;
  text-align: center;
}

.app-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
}

.app {
  height: 100%;
}